@CHARSET "UTF-8";

body {
    background-image: url("../pictures/hotel-main.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: LightGreen; 
}

table {
	  background-color: FloralWhite;
}

.footer{
	position: absolute;
	bottom: 50px;
	left: 45%;
}

.mainform {
	position: relative;
	left: 20%;
}

.borderForm{
	position: relative;
	left: 20%;
	border: 3px #29258F;
	border-style: groove;
	display: inline-block
}

.text{
	margin-left: 100px;
	margin-top: 50px;
}

.localeButton{
	position: absolute;
	right: 20px;
	top: 10px;
}

button {
	background-color:PowderBlue;
	color: #512D0A;
}